#
# .gitignore
#

# command history directory
.zcompcache
.zcompdump*
.zsh_history

# macOS
.DS_Store

# local dependent settings
local.zsh

# git local configuration
git/.gitconfig.local

# serena
.serena

# nix
result
