#
# .gitignore
#

# command history directory
.zcompcache
.zcompdump*
.zsh_history

# macOS
.DS_Store

# local dependent settings
zsh/local.zsh.template

# git local configuration
git/.gitconfig.local

# nix
result
